.header {
    display: flex;
    align-items: center;
    position: static;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#ddd
}

.header .logo {
    max-height: 150px;
    max-width: 150px;
    border-radius: 2px;
    z-index: 5;
    box-shadow: inset;
    /* position: relative; */
    right: 5px;
}

.header .title-group {
    padding-left: 25px;
}
.header .title-group i {
    padding-right: 5px;
}