/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
    vertical-align: middle;
}

simple-snack-bar {
    color: #fff;
}

/* SUCCESS */
.msg-success simple-snack-bar {
    background-color: #28a745;
}
.msg-success simple-snack-bar .mat-mdc-snack-bar-label{
    color: #fff;
}
.msg-success simple-snack-bar .mdc-button__label{
    color: #fff;
}

/* ERROR */
.msg-error simple-snack-bar {
    background-color: #c60101;
}
.msg-error simple-snack-bar .mat-mdc-snack-bar-label{
    color: #fff;
}
.msg-error simple-snack-bar .mdc-button__label{
    color: #fff;
}